<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="executionCode">
      <h2 data-cy="executionCodeDetailsHeading"><span>Execution Code</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ executionCode.id }}</span>
        </dd>
        <dt><span>Question Number</span></dt>
        <dd>
          <span>{{ executionCode.questionNumber }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ executionCode.code }}</span>
        </dd>
        <dt><span>Game Character</span></dt>
        <dd>
          <span>{{ executionCode.gameCharacter }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/execution-code', executionCode.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
