<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="problem">
      <h2 data-cy="problemDetailsHeading"><span>Problem</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ problem.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ problem.title }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ problem.description }}</span>
        </dd>
        <dt><span>Level</span></dt>
        <dd>
          <span>{{ problem.level }}</span>
        </dd>
        <dt><span>Xp Reward</span></dt>
        <dd>
          <span>{{ problem.xpReward }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/problem', problem.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
