.creation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;

  .creation-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;

    .header {
      margin-bottom: 1rem;

      h2 {
        color: #333;
      }
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .form-control {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid #ddd;
      width: 100%;
    }

    .create-btn {
      background-color: #007bff;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#007bff, 10%);
      }
    }
  }
  .arrows-container {
    display: flex;
  }

  .left {
    flex-direction: column;
    align-items: flex-end;
  }

  .right {
    flex-direction: column;
    align-items: flex-start;
  }

  .character-icon {
    font-size: 4rem;
    margin: 0 20px;
  }

  .arrow {
    width: 0;
    height: 0;
    border-style: solid;
  }

  .left-arrow {
    border-width: 10px 10px 10px 0;
    border-color: transparent #000 transparent transparent;
  }

  .right-arrow {
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #000;
  }

  .arrow:not(:last-child) {
    margin-bottom: 5px;
  }
}
