<div>
  <h2 id="page-heading" data-cy="GameCharacterHeading">
    <span>Game Characters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-game-character"
        [routerLink]="['/game-character/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Game Character </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gameCharacters?.length === 0">
    <span>No Game Characters found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="gameCharacters && gameCharacters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span>Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="level">
            <div class="d-flex">
              <span>Level</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="experience">
            <div class="d-flex">
              <span>Experience</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shape">
            <div class="d-flex">
              <span>Shape</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="color">
            <div class="d-flex">
              <span>Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accessory">
            <div class="d-flex">
              <span>Accessory</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="programmingLanguage">
            <div class="d-flex">
              <span>Programming Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uniqueLink">
            <div class="d-flex">
              <span>Unique Link</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="progress.id">
            <div class="d-flex">
              <span>Progress</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span>User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gameCharacter of gameCharacters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/game-character', gameCharacter.id, 'view']">{{ gameCharacter.id }}</a>
          </td>
          <td>{{ gameCharacter.name }}</td>
          <td>{{ gameCharacter.email }}</td>
          <td>{{ gameCharacter.level }}</td>
          <td>{{ gameCharacter.experience }}</td>
          <td>{{ gameCharacter.shape }}</td>
          <td>{{ gameCharacter.color }}</td>
          <td>{{ gameCharacter.accessory }}</td>
          <td>{{ gameCharacter.programmingLanguage }}</td>
          <td>{{ gameCharacter.uniqueLink }}</td>
          <td>
            <div *ngIf="gameCharacter.progress">
              <a [routerLink]="['/progress', gameCharacter.progress.id, 'view']">{{ gameCharacter.progress.id }}</a>
            </div>
          </td>
          <td>
            {{ gameCharacter.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/game-character', gameCharacter.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/game-character', gameCharacter.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(gameCharacter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="gameCharacters && gameCharacters.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
