<div class="container">
  <img [src]="'content/images/' + gameCharacter?.profilePicture" class="profile-picture rounded-circle" alt="Profile Picture" />
  <div class="content-wrapper">
    <!-- Problem Description -->
    <div class="problem-content">
      <h2>Current Question: {{ currentProblem?.title }}</h2>
      <p>{{ currentProblem?.description }}</p>
    </div>
    <!-- Editor Container -->
    <div class="editor-container">
      <div id="editor"></div>
      <button class="btn btn-primary mt-2" (click)="runCode()">Run Code</button>
      <button class="btn btn-success mt-2" (click)="saveCode()">Save Code</button>
    </div>
  </div>
</div>
